{% extends "header.html" %}

{% block body %}

<div class="uk-container uk-container-large">

    <nav class="uk-section-secondary uk-navbar uk-preserve-color">
        <div class="uk-navbar-center">
            <div class="uk-button-group">
                <ul class="uk-navbar-nav">
                    <a href="index-socio">
                        <button class="uk-button uk-button-large uk-button-secondary uk-active">SYSPREPI - Sistema da
                            Associação de Pacientes Renais do Piauí</button>
                    </a>

                    <button class="uk-button uk-button-large uk-button-secondary">Meus Dados</button>

                    <a href="/login">
                        <button class="uk-button uk-button-large uk-button-secondary">Sair da Conta</button>
                    </a>

                </ul>

            </div>
        </div>
    </nav>

    <div class="uk-child-width-1-2@s uk-grid-match uk-margin-xlarge" uk-grid>
        <div>
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                <a href="solicitar-consulta">
                    <h3 class="uk-card-title">Solicitar Consulta</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                <a href="vizualizar-consultas-agendadas">
                    <h3 class="uk-card-title">Verificar Consultas Agendadas</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
                <a href="realizar-doacao">
                    <h3 class="uk-card-title">Fazer Doação</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
                <a href="vizualizar-doacoes-realizadas">

                    <h3 class="uk-card-title">Verificar Doações Feitas</h3>
                </a>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}