<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Sysprepi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />

    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit-icons.min.js"></script>
    <script src="https://kit.fontawesome.com/4855453886.js" crossorigin="anonymous"></script>
    
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>